#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.15); 
    display: flex;
    align-items: center;
    justify-content: center;
}

#grade-card {
    background-color: #efefef;
    border: 2px solid #768272;
    border-radius: 12px;
    padding: 24px;
    width: 320px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#subjectName {
    font-size: 20px;
    font-weight: bold;
    color: #5E8D52;
    text-align: center;
    margin-bottom: 12px;
}

#changeForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#changeForm input {
    padding: 10px;
    border: 1px solid #d0cece;
    border-radius: 6px;
    font-size: 14px;
}

#actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

button.save {
     background-color: #5E8D52;
}

button.cancel {
      background-color: #b7b7b7;
}

button.delete {
     background-color: #cf4444;
}

button.save:hover {
    background-color: #496c41;
}

button.cancel:hover {
    background-color: #8a8a8a;
}

button.delete:hover {
    background-color: #a73737;
}

#searchBar {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#searchBar input {
    background-color: #a1c297;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid rgb(80, 106, 74);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

#searchBar input:focus {
    border-color: #76a56a;
    outline: none;
    box-shadow: 0 0 8px rgba(50, 135, 77, 1);
}


#studentsTable {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

#studentsTable thead {
    background-color: #5E8D52;
    color: white;
    font-size: 10px;
    letter-spacing: 0.5px;
}

#studentsTable th, 
#studentsTable td {
    padding: 6px 18px;
    border: 1px solid #c9c9c9aa;
    text-align: center;
    font-size: 15px;
}

#studentsTable thead {
    background-color: #5E8D52;
    color: white;
}

#studentsTable tbody tr {
    background-color: #ffffff;
}

#studentsTable tbody tr:hover {
    background-color: #e7eae7;
    cursor: pointer;
}

.wrapper {
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}


@media (max-width: 580px) {
    #student-card {
        width: 300px;
    }
}