#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}

#addGradeCard {
    background-color: #efefef;
    border: 2px solid #768272;
    border-radius: 12px;
    padding: 24px;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#title {
    font-size: 20px;
    font-weight: bold;
    color: #5E8D52;
    text-align: center;
    margin-bottom: 12px;
}

#changeForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#changeForm input {
    padding: 10px;
    border: 1px solid #d0cece;
    border-radius: 6px;
    font-size: 14px;
}

#actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

button.create {
     background-color: #5E8D52;
}

button.cancel {
      background-color: #b7b7b7;
}

button.create:hover {
    background-color: #496c41;
}

button.cancel:hover {
    background-color: #8a8a8a;
}
